name: "PR"

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Docker meta ci
      id: docker_meta_ci
      uses: docker/metadata-action@v5
      with:
        images: solidnerd/bookstack-dev
        tags: |
          type=sha

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Dev
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ${{ steps.docker_meta_ci.outputs.tags }}
        labels: ${{ steps.docker_meta_ci.outputs.labels }}
        cache-from: type=registry,ref=solidnerd/bookstack-dev:master
        cache-to: type=inline
        outputs: type=docker,dest=/tmp/image-bookstack.tar

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: image-bookstack
        path: /tmp/image-bookstack.tar
        if-no-files-found: warn

  e2e:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: image-bookstack
        path: /tmp
        if-no-files-found: warn

    - name: Load Docker image
      run: |
        docker load --input /tmp/image-bookstack.tar
        docker image ls -a

    - name: Execute End-to-End Test
      run: make e2e
